<%- include("partials/header.ejs") %>
    <h1>Read Blogs</h1>
    <ul>
        <li>
            <a href="#">Dummy one</a>
        </li>
        
            <% if(locals.blogs){ %>
                <% for(let i=0;i<blogs.length;i++){ %>
                    <li>
                        <p><%= blogs[i].essay%></p>
                        <p> - <%= blogs[i].author %></p><br>
                        <input name="delete" value="Delete" type="submit">
                        <input name="update" value="Update" type="submit">
                    </li>
                <% } %>
            <% } %>
                
           
            
        </li>
    </ul>
<%- include("partials/footer.ejs") %>